.title-anim{
    display: flex;
}
.banner .banner__content .play a i {
    color: #18cfa160;

    position: absolute;
    font-size: 90px;
    bottom: 181px;
    left: 25%;
    display: flex;
    justify-content: flex-end;
}

/*
@media screen and (max-width: 359px) {


    body {
        overflow-x: hidden;
    }
    .container {
        overflow: hidden;
    }
    .banner .banner__content .play {
        display: none;
    }


    .consultation .main .contnet h3{
        font-size: 20px;


    }
    .consultation .main .contnet p{
        font-size: 16px;
    }
    .consultation .main .contnet .btn{
          padding: 4px;
    }
    .agency{
        animation: moveegen  linear ;
        animation-timeline: view();
        animation-range:entry 100% cover 100% ;


    }

    @keyframes moveegen {
        0% {
          opacity: 0;
          transform: translatey(0px);
        }
        100% {
          opacity: 1;
          transform: translate(0px);

        }
      }

      .blog{
        animation: blogmove  linear ;
        animation-timeline: view();
        animation-range:entry 0% cover 50% ;

    }

    @keyframes blogmove {
        0% {
          opacity: 0;
          transform: translatey(0);
        }
        100% {
          opacity: 1;
          transform: translatey(0);

        }
      }

      .testimonial{
        animation: testimonialmove  linear ;
        animation-timeline: view();
        animation-range:entry 0% cover 30% ;

    }

    @keyframes testimonialmove {
        0% {
          opacity: 0;
          transform: translatey(0);
        }
        100% {
          opacity: 1;
          transform: translatey(0);

        }
      }



      .main-prtofolio{
        animation: portfoliomove 0.9s linear ;
        animation-timeline: view(40px);
        animation-range:entry 0% cover 40% ;

    }

    @keyframes portfoliomove {
        0% {
          scale: 0;
          opacity: 0;
          transform: translatex(0);
        }
        100% {
          opacity: 1;
          transform: translatex(0);

        }
      }


  }
 */
