/* start descripation couunt */
.descripation .couunt{
    display: flex;
    flex-wrap: wrap;
}
.descripation .couunt .cards-block__item {
    text-align: center;
}
.descripation .couunt .cards-block__item:first-child{
    border-left: none;
}
.descripation .couunt .cards-block__item{
    border-left: 2px solid;
}

@media only screen and (max-width: 733px) {

    .descripation .couunt .cards-block__item:nth-child(1){
        padding-bottom: 20px;
    }
    .descripation .couunt .cards-block__item:nth-child(2){
        padding-bottom: 20px;
    }
    .descripation .couunt .cards-block__item:nth-child(3){
        border-left: none;
    }
    .descripation .couunt .cards-block__item{
        width: calc(50% )
    }
  }
/* end descripation couunt*/

.itemCard__imageWrap {
    display: flex;
    overflow: hidden;
}

.elementor img {
    height: 200px;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: ;
}
