/* start descripation couunt */
.descripation .couunt{
    display: flex;
    flex-wrap: wrap;
}
.descripation .couunt .cards-block__item {
    text-align: center;
}
.descripation .couunt .cards-block__item:first-child{
    border-left: none;
}
.descripation .couunt .cards-block__item{
    border-left: 2px solid;
}

@media only screen and (max-width: 733px) {

    .descripation .couunt .cards-block__item:nth-child(1){
        padding-bottom: 20px;
    }
    .descripation .couunt .cards-block__item:nth-child(2){
        padding-bottom: 20px;
    }
    .descripation .couunt .cards-block__item:nth-child(3){
        border-left: none;
    }
    .descripation .couunt .cards-block__item{
        width: calc(50% )
    }
  }
/* end descripation couunt*/




.our_servsis .servsis-items .elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.itemCard__image {
    object-fit: cover;
    max-height: 500px;
    height: 272px;
    width: 100%;
}

.our_servsis .servsis-items .itemCard__header .btn-link{
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    width: fit-content;

}
.our_servsis .servsis-items .itemCard__header .btn-link::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: black;
    transition: 0.5s ease-in-out;
}
.our_servsis .servsis-items .itemCard__header .btn-link:hover::before{
    width: 100%;
}
