footer {

  background-image: url('/assets/images/blog-thumb.png');
  background-position: center;
  background-size: cover;


}

footer .contener .main {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

/* Links section styling */

.alinks .list {
  font-size: 1.2rem;
  list-style: none;
  text-decoration: none;


}

.alinks .list li a {
  text-transform: capitalize;
  color: white;
  cursor: pointer;
}

.alinks .list .item a:hover {
  color: #18cfa0;

}

/* Send button */
.input-wrapper {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  background-color: #292524;
  justify-content: space-between;
}


.input {
  max-width: 170px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #292524;
  color: white;
  font-size: 1em;
}



.Subscribe-btn {
  height: 100%;
  width: 95px;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #ffffff;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}

.input-wrapper:active .icon {
  transform: scale(1.3);
}

.Subscribe-btn:hover {
  background-color: #18cfa0;
  color: white;
}



/* Social icons styles */
.contact .social .main {
  display: flex;
  gap: 8px;
  flex-direction: row;



}


.item i {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;



}

.item a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.521);
}

.facebook i:hover {
  color: #18cfa0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;

}

p span {
  color: #18cfa179;
}



