body{
    background-image: url(../images/cta-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.regester{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.regester .main{
    background-color: rgba(255, 255, 255, 0.068);
    padding: 20px 30px;
    border-radius: 8px;
   
}
.regester .main .input-groub{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.regester .main .input-groub input{
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.219);
    height: 40px;
    
    
}


.regester .main .input-groub input::placeholder{
    font-weight: 600;
   
}

input[type="checkbox"]{
    accent-color: #18A686;
    caret-color: #18a686;
}
.regester .main button{
    width: 100%;
    background-color: #18A686;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.regester .main button:hover{
    background-color: #076767;
}

p:last-of-type{
    caret-color:#18A686 ;
    
}

@media (max-width: 768px) and (min-width: 481px) {

    .regester .main {
        width: 345px;
    }
    
}
