
/* Sidebar Styling */
.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
}

.sidebar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.sidebar a:hover {
    border-radius: 8px;
    background-color:#076767;
    color: #343a40;
}
.sidebar i {
    margin-right: 10px; /* Add some space between icon and text */
}
